
<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>

<div class="tab">
    <mat-tab-group>
        <mat-tab label="Tab 1"><mat-icon>home</mat-icon> Tab 1</mat-tab>
        <mat-tab label="Tab 2"><mat-icon>assignment icon</mat-icon> Tab 2</mat-tab>
        <mat-tab label="Tab 3"><mat-icon> build icon</mat-icon> Tab 3</mat-tab>
        <mat-tab label="Tab 4"><mat-icon>history</mat-icon> Tab 4</mat-tab>
        <mat-tab label="Tab 5"><mat-icon>delete</mat-icon> Tab 5</mat-tab>
    </mat-tab-group>
</div>


<div class="tab">
    <mat-tab-group>
        <mat-tab><ng-template mat-tab-label ><mat-icon> loyalty icon</mat-icon> Tab1</ng-template>Tab 1</mat-tab>
        <mat-tab><ng-template mat-tab-label ><mat-icon>explore icon</mat-icon> Tab2</ng-template>Tab 2</mat-tab>
        <mat-tab><ng-template mat-tab-label ><mat-icon>folder</mat-icon> Tab3</ng-template>Tab 3</mat-tab>
        <mat-tab><ng-template mat-tab-label ><mat-icon>offline_pin</mat-icon> Tab4</ng-template>Tab 4</mat-tab>
        <mat-tab><ng-template mat-tab-label ><mat-icon> lock</mat-icon> Tab5</ng-template>Tab 5</mat-tab>
    </mat-tab-group>
</div>


<!-- <button mat-raised-button routerLink="/checkbox">Go to Checkbox</button> -->