
<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>


  <div>
    <mat-form-field color="warn" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput  placeholder="Name">
        <mat-hint>Enter your Name</mat-hint>
     </mat-form-field>
  </div>

  <mat-form-field color="warn" appearance="outline">
    <mat-label>Last name</mat-label>
    <input matInput  placeholder="Last Name">
    <mat-hint>Enter your Last Name</mat-hint>
 </mat-form-field>



    




 

 