<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>

<button color="accent"  mat-raised-button (click)="openbottomsheet()">Open bottomSheet</button>

<!-- 

<mat-nav-list>
    <a mat-list-item>
        <span matListItemTitle>Jhon</span>
        <span matListItemLine>Doe</span>
    </a>
    <a mat-list-item>
        <span matListItemTitle>May</span>
        <span matListItemLine>Doe</span>
    </a>
    <a mat-list-item>
        <span matListItemTitle>July</span>
        <span matListItemLine>Doe</span>
    </a>
    <a mat-list-item>
        <span matListItemTitle>Tom</span>
        <span matListItemLine>Doe</span>
    </a>
</mat-nav-list> -->

 
  