<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>
<br><br>
<button>click here</button>
<br>
<button mat-raised-button color="primary">Mat Raised Button</button>
<br>
<button mat-stroked-button color="accent">Mat Stroked </button>
<br>
<button mat-flat-button color="warn">Mat flat Button</button>
<br>
<button mat-icon-button color="primary">
    <mat-icon>home</mat-icon>
<button mat-icon-button color="warn">
    <mat-icon>menu</mat-icon>
</button>
<button mat-icon-button color="accent">
    <mat-icon>delete</mat-icon>
</button>
<button mat-icon-button color="primary">
    <mat-icon>edit</mat-icon>
</button>
<br>
<button mat-fab color="accent">Mat fab</button>
<br>
<button mat-mini-fab color="primary"> Mini</button>
<br>

<!-- <button mat-raised-button color="primary" (click)="proceedClick()">Proceed</button> -->