<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>


<div class="row mt-4">
    <div class="col-sm-6">
        <mat-icon color="primary">delete</mat-icon>
        <hr>
        <mat-icon color="primary">account_balance</mat-icon>
        <hr>
        <mat-icon color="primary">account_box</mat-icon>
        <hr>
        <mat-icon color="primary">alarm</mat-icon>
        <hr>
        <mat-icon color="primary">assignment_ind</mat-icon>
        <hr>
        <mat-icon color="primary">backup</mat-icon>
        <hr>
        <mat-icon color="primary">build</mat-icon>
        <hr>
        <mat-icon color="primary">calendar_today</mat-icon>
        <hr>
        <mat-icon color="primary">contact_support</mat-icon>
        <hr>
        <mat-icon color="primary">redeem</mat-icon>
        <hr>
        <mat-icon color="primary">rowing</mat-icon>
        <hr>
        <mat-icon color="primary">settings_bluetooth</mat-icon>
        <hr>
        <mat-icon color="primary">shopping_basket</mat-icon>
    </div>
    <div class="col-sm-6">
        <mat-icon color="primary">credit_card</mat-icon>
        <hr>
        <mat-icon color="primary">dashboard</mat-icon>
        <hr>
        <mat-icon color="primary">done_all</mat-icon>
        <hr>
        <mat-icon color="primary">explore</mat-icon>
        <hr>
        <mat-icon color="primary">face</mat-icon>
        <hr>
        <mat-icon color="primary">g_translate</mat-icon>
        <hr>
        <mat-icon color="primary">history</mat-icon>
        <hr>
        <mat-icon color="primary">https</mat-icon>
        <hr>
        <mat-icon color="primary">label</mat-icon>
        <hr>
        <mat-icon color="primary">pan_tool</mat-icon>
        <hr>
        <mat-icon color="primary">power_settings_new</mat-icon>
        <hr>
        <mat-icon color="primary">query_builder</mat-icon>
        <hr>
        <mat-icon color="primary">stars</mat-icon>
    </div>
</div>
