<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>


        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Title
                </mat-card-title>
                <mat-card-subtitle>
                    Sub Title
                </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image src="../../../.././assets/images/flowers-276014_1280.jpg" alt="">
            <mat-card-content>
                This is content for Material Card
            </mat-card-content>
            <mat-card-actions>
                    <button mat-raised-button>Like</button>
                    <button mat-raised-button>Share</button>
            </mat-card-actions>
        </mat-card>

    <!-- <button color="accent"  mat-raised-button (click)="openbootmsheet()">go to bootomSheet</button> -->
