

<button mat-raised-button color="primary" routerLink="/button">Button</button>
<button mat-raised-button color="warn" routerLink="/buttontoggle">Button Toggle</button>
<button mat-raised-button color="accent" routerLink="/icon">Icon</button>
<button mat-stroked-button color="primary" routerLink="/input">Input</button>
<button mat-flat-button color="warn" routerLink="/badge">Badge</button>
<button mat-stroked-button color="accent" routerLink="/spinner">Spinner</button>
<button mat-raised-button color="accent" routerLink="/menu">Menu</button>
<button mat-raised-button color="primary" routerLink="/card">Card</button>
<button mat-raised-button color="warn" routerLink="/bootmsheet">BootmSheet</button>
<button mat-stroked-button color="primary" routerLink="/tooltip">ToolTip</button>
<button mat-raised-button color="warn" routerLink="/list">List</button>
<button mat-stroked-button color="warn" routerLink="/divider">Divider</button>
<button mat-raised-button color="warn" routerLink="/formfield">Form Field</button>
<button mat-raised-button color="accent" routerLink="/select">Select</button>
<button mat-raised-button color="primary" routerLink="/dialog">Dialog</button>
<button mat-flat-button color="warn" routerLink="/snackbar">SnackBar</button>
<button mat-raised-button color="accent" routerLink="/radio">Radio Button</button>
<button mat-raised-button color="primary" routerLink="/tabs">Tabs</button>
<button mat-stroked-button color="accent" routerLink="/checkbox">CheckBox</button>
<!-- <button mat-raised-button color="accent" routerLink="/chips">Chips</button> -->
<button mat-raised-button color="warn" routerLink="/datepicker">DatePicker</button>
<button mat-raised-button color="primary" routerLink="/gridlist">Grid List</button>
<button mat-stroked-button color="primary" routerLink="/sidenav">SideNav</button>
<button mat-raised-button color="accent" routerLink="/toolbar">ToolBar</button>
<!-- <button mat-raised-button color="accent" routerLink="/stepper">Stepper</button> -->