
<button mat-fab color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<hr>
<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span>My Toolbar</span>
        <span class="example-spacer"></span>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
        <button mat-icon-button><mat-icon>add_person</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>